


<%= render "layouts/layoutWithAddTag" %>



<%= form_for(all_questions_path, method: :get) do %>
  Search Question <%= text_field_tag :data, params[:data] %>
  <%= submit_tag 'Search', name: nil %>
<% end %>

<h1>Questions </h1>

<% @questions.each do |question| %>
  <p>
    <%= link_to question.title, user_question_path(question.user_id, question.id) %>
    <br>
  </p>
<% end %>



