
<head>
  <style>
    h1{
      margin-bottom: 0px;
    }
    p{
      margin-top: -10px;
      color: #555555;
    }
    #star a{
      font-size: 25px;
      display: inline-block;
      margin: 0    0      0       0;
      display: inline;
    }
    #content a{
      text-decoration: none;
      display: inline-block;
      margin: 0    0      0       0;
      display: inline;
    }
    #votes a{
      font-size: 25px;
    }
  </style>
</head>

<%= render "layouts/navbar" %>

<div id="content">

  &nbsp
  <h1> <%= @question.title %> </h1> <br>

  <p> <%= @question.body %> </p> <br><br>
  <span id="star">
  <%if !@is_favorite %>

    <%= link_to "☆", {controller: 'favorite_questions', action: 'create', question_id: @question.id , user_id: @question.user_id}, method: :post %>
    &nbsp
   <%else %>

    <%= link_to "★", {controller: 'favorite_questions', action: 'destroy', question_id: @question.id , user_id: @question.user_id }, method: :delete %>
  &nbsp

    <%end %>
  </span>
  <span id="votes">
    <%= link_to "⇧", user_question_votes_path(@user.id, @question.id, :upvote => "upvote", :type => "Question"), method: :post %>
    &nbsp
    <%= link_to "⇩", user_question_votes_path(@user.id, @question.id, :downvote => "downvote", :type => "Question"), method: :post %>
    &nbsp
    <%= debugger %>

  </span>
  &nbsp
  <%= link_to "total vote ", user_question_votes_path(@user.id, @question.id) %>
   &nbsp
  &nbsp
  &nbsp
  <%=link_to 'Tags' ,  user_question_tags_path(@user.id,@question.id) %>


  <% if current_user == @user %>
    &nbsp
    &nbsp &nbsp
    &nbsp <%= link_to "Edit", edit_user_question_path(@question.user_id, @question.id) %> &nbsp &nbsp
    <%= link_to "delete", user_question_path(@question.user_id, @question.id), method: :delete, data: {confirm: "you sure?"} %>
    <%= render "tags/tag_for_question" %>

  <% end %>
  <br><br>
  <h3> comments </h3>
  <%= render 'comments/all_comments' %>
  <%= render 'comments/post_comment' %>
  <h3>Answers</h3>
  <%= render 'answers/all_answers' %><br>
  <%= render 'answers/post_answers' %>
  <br>

</div>

