<br>
<%= form_for(@comment, url: user_question_answer_comment_path(@question.user_id, @question.id, @parent.id, @comment.id)) do |f| %>

  <%= f.label :comment %>
  <%= f.text_field :description, class: 'form-control' %>
  <%= f.submit "update my comment for answer ", class: "btn btn-primary" %>

<% end %>

<% if @comment.errors.any? %>
      <% for message_error in @comment.errors.full_messages %>
        <li> <%= message_error %></li>
      <% end %>
    </ul>
  <% end %>