<%= render "layouts/navbar" %>

<%= form_for(users_path, method: :get) do %>
  Search User <%= text_field_tag :data, params[:data] %>
  <%= submit_tag 'Search', name: nil %>
<% end %>

<h1>All Users</h1>
<br>
<% @users.each do |user| %>
  <p>
    <%= link_to user.name, user_path(user.id) %>   <br>
  </p>
<% end %>


