<% @answers.each do |answer| %>
  <p1>
    <h4>

      <%= answer.description %> </h4>
    post by:  <%= User.find(answer.user_id).name %>
    <%= link_to "upvote", user_question_answer_votes_path(@user.id, @question.id, answer.id, :upvote => "upvote", :type => "Answer"), method: :post %>
    &nbsp
    &nbsp
    <%= link_to "downvote", user_question_answer_votes_path(@user.id, @question.id, answer.id, :downvote => "downvote", :type => "Answer"), method: :post %>
    &nbsp
    &nbsp &nbsp
    &nbsp
    <%= link_to "vote", user_question_answer_votes_path(@user.id, @question.id, answer.id) %>
    &nbsp
    &nbsp &nbsp
    &nbsp
    <% if Question.exists?(valid_answer: answer.id) %>
      <h3>valid answer</h3>
    <% end %>

    <% if Question.find(@question.id).user_id == current_user.id %>

      <%= link_to "Valid", valid_answer_path(@user.id, @question.id, answer.id) %>

    <% end %>
    &nbsp
    &nbsp
    &nbsp
    &nbsp
    <% if answer.user_id == current_user.id %>
      <%= link_to "edit", edit_user_question_answer_path(@user.id,@question.id, answer.id) %>
      &nbsp
      &nbsp &nbsp
      &nbsp <%= link_to "delete", user_question_answer_path(@user.id, @question.id, answer.id), method: :delete, data: {confirm: "are you sure?"} %>
    <% end %>
    <%= render 'comments/all_comments_for_answer', :@answer_comments => answer.comments %>
    <%= render 'comments/post_comment_for_answer', :@answer_comment_new => answer.comments.new("user_id" => current_user.id), :@answer_comment => answer %>


  </p1>

<% end %>