<% @answers.each do |answer| %>
  <p1>
    <h4>

      <%= answer.description %> </h4>
    post by:  <%= User.find(answer.user_id).name %>
    <%= %>
    <%= render 'comments/all_comments_for_answer', :@answer_comments => answer.comments %>
    <%= render 'comments/post_comment_for_answer', :@answer_comment_new => answer.comments.new("user_id" => answer.user_id), :@answer_comment => answer %>


  </p1>

<% end %>