<%= form_for(@answer, url: user_question_answers_path(@question.user_id, @answer.question_id)) do |f| %>

  <%= f.label :Answer %>
  <%= f.text_field :description, class: 'form-control' %>
  <%= f.submit "post my answer", class: "btn btn-primary" %>
<% end %>

<% if @answer.errors.any? %>
      <% for message_error in @answer.errors.full_messages %>
        <li> <%= message_error %></li>
      <% end %>
    </ul>
  <% end %>


