<%= render "layouts/navbar" %>

<% @tags.each do |tag| %>
  <p>
    <%=tag.name  %>  <br>
  </p>
  <% if tag.taggable_id==current_user.id %>
  <%= link_to "destroy",user_tag_path(tag.taggable_id,tag.id) , method: :delete , data: {confirmation: "are you sure?"} %>
    &nbsp &nbsp  <%= link_to "edit", edit_user_tag_path(tag.taggable_id, tag.id) %>
    <%end %>
<% end %>
&nbsp &nbsp
<br> <br>
<%= link_to "add tag", new_user_tag_path(current_user.id) %>