<div>
  <h3> Name : - </h3>
  <%= @user.name %>
  <h3> Email :- </h3>
  <%= @user.email %>
  <br>
  <br>
  <h3> Reputation :- </h3> &nbsp &nbsp <%= @vote %> <br> <br>
  <%= link_to "Questions", user_questions_path(@user.id) %>  &nbsp &nbsp&nbsp &nbsp
  <%= link_to "Tags", user_tags_path(@user.id) %> &nbsp &nbsp&nbsp &nbsp
  <%= link_to "Favorite Questions", user_questions_path(@user.id, :favorite_question => "favorite Question") %> &nbsp
  &nbsp&nbsp &nbsp
  <% if current_user.id == @user.id %>
    <%= link_to "Deactivate", user_path(@user.id), method: :delete, data: {confirmation: "are you sure?"} %>
  <% end %>
</div>